.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 30px;
}

.img {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

p {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
  padding: 5px;
}

.gallery-item {
  border: 1px solid #808080;
}